@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  padding: 0 10px;
  background: url("school-and-education-blue-linear-frame-vector-25984526 1 (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;

  font-family: Geo;
  font-style: normal;
  font-weight: 500;

  color: #F4E7E7;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .textarea:focus{
  border: 1px solid #005ce6;
}

.wrapper .form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #0066ff;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #005ce6;
}

.options {
  display: flex;
}

.list {
  display: inline-flex;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
}




.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #040D3D;
  text-align: center;
}