.navbar-custom {
    background: linear-gradient(180deg, #9796F0 0%, rgba(151, 150, 240, 0) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_custom {
  margin: 5px 10px;
  border:0px;
  background: #FFFFFF;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 66.5px;

  padding: 5px 15px 5px 15px;

  font-family: 'Rhodium Libre', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

.btn_custom:hover {
  background-color: #040D3D;
  color:white;
}

.custom-active {
  background-color: #040D3D;
  color:white;
  border-color: #040D3D;
}

.navbar-brand {
  font-family: 'Bebas Neue', cursive;;
  font-style: normal; 
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;

  color: black;
}

.press{
    color: white;
    background-color:#081878;
    outline: none;
    box-shadow: 0 0 30px #081878;
}
