* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #EED88A;
}

.par {
    width: 80%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    background: rgba(252, 252, 252, 0.2);
    font-size: 100%;
    margin-top: 12%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 8%;
}

.par:hover {
    height: 40%;
    transition: 0.5s;
    background-color: aliceblue;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 5px rgba(247, 247, 247, 0.5);
    background: #ffffff;
    color: rgb(63, 27, 6);
    font-size: 120%;
    padding-top: 5%;
}

body {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.container .c {
    position: relative;
    width: 300px;
    height: 600px;
    margin: -45px 30px;
    /* box-shadow: 0 15px 35px rgba(230, 230, 230, 0.5); */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    transition: 0.5s;
    cursor: pointer;
}


/* image size */

.pSize1 {
    width: 70%;
    height: 70%;
    margin-left: 40px;
    margin-top: 20px;
}

.pSize2 {
    width: 70%;
    height: 70%;
    margin-left: 40px;
    margin-top: 50px;
}

.pSize3 {
    width: 57%;
    height: 60%;
    margin-left: 55px;
    margin-top: 70px;
}

.pSize5 {
    width: 70%;
    height: 70%;
    margin-left: 40px;
    margin-top: 65px;
}

.content {
    background-size: cover;
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 10px 5px rgba(255, 255, 255, 1.5);
    border-radius: 4%;
}


/* topicS */

.TopicS {
    /* letter-spacing: 3px; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 15%;
    height: 7.5%;
}


/* mouse not drag */

.container .c .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.75;
    transition: 0.5s;
}


/* mouse drag */

.container .c:hover .content {
    opacity: 1;
    transform: translateY(-20px);
    box-shadow: 0 15px 35px rgba(173, 13, 13, 0.);
    background: rgb(63, 27, 6);
}

.container .c .contentBx:hover {
    transform: translateY(-20px);
    transition: 0.5s;
    /* opacity: 0; */
}

.container .c .contentBx:hover .TopicS {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    transform: translateY(-1px);
    font-size: 140%;
    letter-spacing: 3px;
}


/* .container .card .contentBx .paragraf {
opacity: 0;
}

.container .card .contentBx .paragraf:hover {
opacity: 1;
} */


/* p {
opacity: 0;
}

p:hover {
opacity: 1;
transition: 0.5s;
transform: translateY(-20px);
} */